body {
  font-family: $helvetica;
  font-size: $regular-font;
  line-height: $line-height;
  color: $darkest-grey;
  background-color: $background;
}

h1 {
  font-size: 38px;
  line-height: $line-height * 2;
  margin-top: $line-height;
}

h2 {
  font-size: 27px;
  line-height: $line-height * 2;
  margin-top: $line-height;
}

h3 {
  font-size: 20px;
  line-height: $line-height;
  margin-top: $line-height;
}

h4 {
  font-size: 14px;
  line-height: $line-height;
  margin-top: $line-height;
}

h5 {
  font-style: italic;
  font-size: 14px;
  line-height: $line-height;
  margin-top: $line-height;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin-bottom: $line-height;
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $darkest-grey;
}

a:hover {
  text-decoration: underline;
}

small {
  color: $dark-grey;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clickable {
  cursor: pointer;
}

.row {
  @include row()
}

.ten-columns {
  @include span-columns(10);
}

.eight-columns {
  @include span-columns(8);
}

.six-columns {
  @include span-columns(6);
}

.four-columns {
  @include span-columns(4);
}

.two-columns {
  @include span-columns(2);
}
