.board {
  &__actions {
    @include row();
    margin-top: $spacing-large;

    &__left {
      @include span-columns(6);
      min-height: 1px;
    }

    &__right {
      @include span-columns(6);
      text-align: right;

      .button:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__column {
    margin-top: $spacing-large;
    border-right: 1px dashed $border-grey;

    &--2 {
      @include span-columns(6, $display: block-collapse);
    }

    &--3 {
      @include span-columns(4, $display: block-collapse);
    }

    &--4 {
      @include span-columns(3, $display: block-collapse);
    }

    &:last-of-type {
      border-right: none;
    }

    &__header {
      text-align: center;
    }
  }
}

.stories-list {
  min-height: 500px;
}

.story-card {
  @include clearfix;
  min-height: 10px;
  background-color: white;
  margin: 12px;
  padding: 10px;
  box-shadow: inset 0 -3px 0 $border-grey;

  @include user-select(none);
  cursor: move;

  &--ghost {
	  background: rgba(0,0,0,0.1);
  }

  &__estimate {
    float: right;
  }

  &__second-line {
    margin-top: 10px;

    .avatar {
      float: right;
    }
  }

  &__tags {
    display: inline-block;
    width: 90%;
    overflow: hidden;

    &__item {
      display: inline-block;
      margin-right: $spacing-small;
      margin-top: $spacing-small;
      padding-left: $spacing-small;
      padding-right: $spacing-small;
      color: $dark-grey;
      font-size: 12px;
      border: 1px solid $border-grey;
      border-radius: 3px;
      line-height: 17px;
    }
  }
}
