.board {
  &__actions {
    @include row();
    margin-top: $spacing-large;

    &__left {
      min-height: 1px;
      display: inline-block;
    }

    &__right {
      float: right;
      display: inline-block;

      .button:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__columns {
    overflow: hidden;
    display: flex;
  }

  &__column {
    margin-top: $spacing-medium;
    border-right: 1px dashed $border-grey;
    flex-grow: 1;

    &--2 {
      width: 50%;
    }

    &--3 {
      width: 33.333333%;
    }

    &--4 {
      width: 25%;
    }

    &:last-of-type {
      border-right: none;
    }

    &__header {
      position: relative;
      text-align: center;
      width: 100%;

      h3 {
        display: inline-block;
      }

      .points {
        color: $dark-grey;
        right: $spacing-medium + 6;
        position: absolute;
        top: 24px;
      }
    }
  }
}

.stories-list {
  height: 105%;
}

.story-card {
  @include clearfix;
  min-height: 10px;
  background-color: white;
  margin: 12px;
  padding: 10px;
  box-shadow: inset 0 -3px 0 $border-grey;

  @include user-select(none);
  cursor: move;

  &:last-of-type {
    margin-bottom: 50px;
  }

  &.disabled {
    cursor: initial;
  }

  &__first-line {
    position: relative;
  }

  &--ghost {
	  background: rgba(0,0,0,0.1);
  }

  &__estimate {
    position: absolute;
    right: 0;
  }

  &__second-line {
    margin-top: $spacing-tiny;
    min-height: 34px;

    .avatar {
      float: right;
      transform: translateY(8px);
    }
  }

  &__title {
    cursor: pointer;
    @include ellipsis(100%)

    &.truncated {
      @include ellipsis(60%);

      @include media($tablet) {
        @include ellipsis(78%);
      }

      @include media($large-desk) {
        @include ellipsis(86%);
      }
    }
  }


  &__tags {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    &__item {
      display: inline-block;
      margin-right: $spacing-small;
      margin-top: $spacing-small;
      padding-left: $spacing-small;
      padding-right: $spacing-small;
      color: $dark-grey;
      font-size: 12px;
      border: 1px solid $border-grey;
      border-radius: 3px;
      line-height: 18px;
    }
  }
}

.column-enter {
  width: 0px;

  .board__column__header {
    opacity: 0;
  }

  .story-card {
    opacity: 0;
  }
}

.column-enter.column-enter-active {
  transition: all 300ms;
  width: 25%;

  .board__column__header {
    transition: opacity 50ms linear 50ms;
    opacity: 1;
  }

  .story-card {
    transition: opacity 50ms linear 50ms;
    opacity: 1;
  }
}

.column-leave.column-leave-active {
  transition: width 300ms, border-right 1ms linear 150ms;
  width: 0px;
  border-right: none;

  .board__column__header {
    transition: opacity 50ms linear 50ms;
    opacity: 0;
  }

  .story-card {
    transition: opacity 50ms linear 50ms;
    opacity: 0;
  }
}

.offline-alert-enter {
  opacity: 0.5;
  transform: translateY(-10px);
  height: 0px;
}

.offline-alert-enter.offline-alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: height 300ms linear;
  transition: opacity 300ms linear;
  transition: transform 100ms linear;
  height: initial;
}

.offline-alert {
  width: 100%;
  border: 1px solid darken($pale-yellow, 10%);
  border-top: none;
  background-color: $pale-yellow;
  margin-top: -1px;
  padding: $spacing-small;
  text-align: center;
  color: $dark-grey;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
