.dashboard-column {
  &.stories {
    @include span-columns(4);
  }

  &.projects {
    @include span-columns(8);
  }

  &__header {
    border-bottom: 1px solid $grey;
  }
}

.inline-block {
  display: inline-block;
}

.create-project {
  float: right;
  transform: translateY(2px);
  font-size: $regular-font;
}

.no-margin {
  margin: 0;
}

.projects-list {
  &__item {
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px solid $border-grey;

    &:last-of-type {
      border-bottom: none;
    }

    &__settings {
      float: right;
      opacity: 0;
      @include transition(opacity 0.1s linear);
    }

    &:hover > &__settings {
      opacity: 1;
    }
  }
}
