.dropdown {
  position: relative;

  &__content {
    background-color: $inverted;
    border: 1px solid $border-grey;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    line-height: $line-height * 1.25;
    min-width: 160px;
    position: absolute;
    z-index: 9999;

    a {
      cursor: pointer;
      color: $darkest-grey;
      text-decoration: none;
      display: block;
      padding: $spacing-tiny $spacing-small;
      border-bottom: 1px solid #ebedef;
    }

    a:last-child {
      border-bottom: none;
    }

    a:hover {
      background-color: $light-grey;
    }
  }
}

.dropdown.hoverable {
  @include clearfix;

  .dropdown__content {
    display: none;
  }

  &:hover .dropdown__content {
    display: block;
  }
}
