.dropdown {
  position: relative;
  width: 100%;

  &__content {
    width: 100%;
    background-color: white;
    border: 1px solid $border-grey;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    line-height: $line-height * 1.25;
    min-width: 160px;
    position: absolute;
    z-index: 9999;

    a {
      cursor: pointer;
      color: $darkest-grey;
      text-decoration: none;
      display: block;
      padding: $spacing-tiny $spacing-small;
      border-bottom: 1px solid #ebedef;
    }

    a:last-child {
      border-bottom: none;
    }

    a:hover {
      background-color: $light-grey;
    }
  }
}

.dropdown.hoverable {
  @include clearfix;

  .dropdown__content {
    display: none;
  }

  &:hover .dropdown__content {
    display: block;
  }
}

.dropdown.select {
  input:focus {
    border-color: $border-grey;
  }

  i {
    position: absolute;
    top: 11px;
    right: 10px;
  }

  &.open {
    input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .dropdown__content {
    transform: translateY(-4px);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
