.form-group {
  margin-bottom: 1rem;
}

.input-error {
  margin-left: 1rem;
  color: $error;
}

input, textarea {
  width: 100%;
  padding: 3px 6px;
  background-color: white;
  line-height: 1.6;
  border: 1px solid $border-grey;
  border-radius: 1px;
  color: inherit;
  box-shadow: none;
  @include transition(border-color ease-in-out .15s);
  resize: none;
}

input {
  height: 32px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: $light-blue;
}

.input-with-button {
  input {
    width: 80%;
  }

  button {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transform: translateX(-1px);
  }
}
