.form-group {
  margin-bottom: 1rem;
}

.input-error {
  margin-left: 1rem;
  color: $error;
}

input, textarea {
  width: 100%;
  padding: $spacing-tiny $spacing-small;
  background-color: white;
  border: 1px solid $border-grey;
  box-shadow: none;
  @include transition(border-color ease-in-out .15s);
  resize: none;
}

input, select, textarea {
  margin-top: $spacing-tiny;
  margin-bottom: $spacing-tiny;
  border-radius: 3px;
}

input {
  height: 32px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: $light-blue;
}

.input-with-button {
  input {
    width: 78%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  button {
    width: 22%;
    margin-left: 0;
    margin-right: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transform: translateX(-1px);
  }
}
