.modal-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	z-index: 99999;
}

.modal {
  opacity: 1;
	min-width: 633px;
	margin: 100px auto;
	border-radius: 3px;
  background: white;
  border: 1px solid $border-grey;

  width: 100%;

  @include media($tablet) {
    width: 90%;
  }

  max-width: 850px;

  &__header {
    border-bottom: 1px solid $border-grey;
    padding: $spacing-small $spacing-medium;

    h3 {
      margin: 0;
    }
  }

  &__close {
    display: inline-block;
    float: right;
    transform: translateY(-21px);
    font-size: 24px;
    cursor: pointer;
  }

  &__body {
    padding: $spacing-medium;
    padding-bottom: 0;
  }

  &__footer {
    padding: 0 $spacing-medium $spacing-small $spacing-medium;
    min-height: $line-height + $spacing-small;
  }
}

.estimate-form {
  margin-top: 20px;
  margin-bottom: 20px;

  input {
    margin: 0;
  }

  &__group {
    margin-top: $spacing-small;
    @include clearfix;
  }

  &__total {
    border-top: 1px solid $border-grey;
    margin-top: $spacing-small;
    @include clearfix;

    .estimate-form__right {
      transform: translateX($spacing-small);
    }
  }

  &__left {
    line-height: 2.5;
    display: inline;
  }

  &__right {
    display: inline-block;
    float: right;
    width: 40px;
    line-height: 2.0;
    overflow: auto;
  }
}

.assigned-user {
  &__select {
    display: block;
  }
}

.story-right {
  position: relative;
}

.save-story-button {
  margin-left: 0px;
  margin-top: 51px;
  width: 100%;
}
