.new-project-form {
  margin: 60px auto;
  max-width: 400px;

  &__header {
    display: inline-block;
    width: 50%;

    &--right {
      float: right;
      transform: translateY(35px);
    }
  }
}

.collaborator {
  padding-left: 10px;

  i {
    transform: translateY(-8px);
  }
}

.collaborator-results {
  width: 78%;

  .result:hover {
    background-color: unset;
  }

  .result.active {
    background-color: $light-grey!important;
  }
}
