.new-project-form {
  margin: 60px auto;
  max-width: 400px;

  &__header {
    display: inline-block;
    width: 50%;

    &--right {
      float: right;
      transform: translateY(35px);
    }
  }
}

.collaborator {
  padding-left: $spacing-small;

  .avatar {
    float: left;
    margin-right: $spacing-small;
    transform: translateY(3px);
  }

  .ion-close {
    transform: translateY(-8px);
  }
}

.collaborator-results {
  width: 78%;

  .result .avatar {
    float: left;
    transform: translateY(5px);
    margin-right: $spacing-tiny;
  }

  .result:hover {
    background-color: unset;
  }

  .result.active {
    background-color: $light-grey!important;
  }
}

.project {
  &__nav {
    @include row();
    margin-top: $spacing-large;
    border-bottom: 1px solid $border-grey;
    position: relative;

    &__breadcrumb {
      margin: $spacing-small 0;

      li {
        display: inline-block;

        &:before {
          content: ">";
          margin-right: 0.5em;
          margin-left: 0.5em;
        }

        &:first-of-type:before {
          content: none;
        }
      }
    }

    &__tabs {
      right: 0px;
      bottom: -1px;
      position: absolute;

      a {
        padding: $spacing-small $spacing-medium;
        display: inline-block;
      }

      a:hover {
        text-decoration: none;
      }

      a.active {
        border: 1px solid $border-grey;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 1px solid $background;
      }
    }
  }
}
