.profile {
  @include span-columns(12);
  max-width: 550px;

  &__avatar-section {
    @include row();
    margin-top: $spacing-small;
    margin-bottom: $spacing-medium;

    &__image {
      @include span-columns(2);
    }

    &__form {
      @include span-columns(10);
      padding-left: $spacing-medium;
    }
  }
}

.social-links {
  margin-top: 0px;
  margin-bottom: 12px;

  li {
    border-radius: 3px;
    color: $dark-grey;
    border: 1px solid $dark-grey;
    display: inline-block;
    height: 32px;
    text-align: center;
    width: 32px;
    margin-right: $spacing-small;
    padding-top: 4px;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: $light-blue;
      border-color: $light-blue;
    }

    &.selected {
      color: $light-blue;
      border-color: $light-blue;
    }
  }
}

.avatar {
  border-radius: 3px;
}

img.avatar {
 vertical-align: bottom;
}

