// colors
$grey: #8894A0;
$border-grey: lighten($grey, 25%);
$light-grey: lighten($grey, 35%);
$dark-grey: darken($grey, 20%);
$darkest-grey: #29323C;
$light-blue: #2CB1CA;
$inverted: #f7f7f7;
$error: #ED5C5C;
$background: #f7f7f7;
$green: #42C88A;
$pale-yellow: #FFEEBE;

$regular-font: 14px;
$line-height: 21px;

$spacing-tiny:   4px;
$spacing-small:  8px;
$spacing-medium: 16px;
$spacing-large:  24px;

$mobile: new-breakpoint(min-width 320px);
$tablet: new-breakpoint(min-width 720px);
$desk: new-breakpoint(min-width 1024px);
$large-desk: new-breakpoint(min-width 1280px);
