.top-nav {
  padding-left: 10%;
  padding-right: 10%;
  height: 60px;
  background: $darkest-grey;
  border-bottom: 1px solid $border-grey;
  color: $inverted;

  &__brand {
    height: 100%;
    float: left;
    padding-top: 10px;

    img {
      width: 120px;
    }
  }

  &__right {
    height: 100%;
    float: right;
    padding-top: 22px;
  }

  &__username {
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 10px;

    .avatar {
      float: left;
      margin-right: $spacing-medium;
      transform: translateY(-5px);
    }
  }
}
