@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "settings";
@import "base";
@import "forms";
@import "buttons";
@import "top-nav";
@import "side-nav";
@import "dashboard";
@import "board";
@import "projects";
@import "modal";

.container {
  @include outer-container(80%);
}

.right-padded-icon {
  padding-right: 5px;
}

.left-padded-icon {
  padding-left: 5px;
}

.truncated-text {
  @include ellipsis(80%);
}

.skinny-box {
  max-width: 300px;
  margin: 100px auto;
}
