@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "settings";
@import "base";
@import "forms";
@import "buttons";
@import "top-nav";
@import "block-list";
@import "dashboard";
@import "board";
@import "projects";
@import "modal";
@import "profile";
@import "dropdown";

.container {
  @include outer-container(80%);
  margin-bottom: 50px;
}

footer {
  bottom: 0;
  color: $dark-grey;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.right-padded-icon {
  padding-right: 0.5em;
}

.left-padded-icon {
  padding-left: 0.5em;
}

.truncated-text {
  @include ellipsis(80%);
}

.skinny-box {
  max-width: 300px;
  margin: 100px auto;
}

.space-top {
  margin-top: $spacing-medium;
}

.space-bottom {
  margin-bottom: $spacing-medium;
}

.space-top-small {
  margin-top: $spacing-small;
}

.space-bottom-small {
  margin-bottom: $spacing-small;
}

.avatar {
  border-radius: 3px;
}

img.avatar {
 vertical-align: bottom;
}

.social-links {
  margin-top: 0px;
  margin-bottom: 12px;

  li {
    border-radius: 3px;
    color: $dark-grey;
    border: 1px solid $dark-grey;
    display: inline-block;
    height: 32px;
    text-align: center;
    width: 32px;
    margin-right: $spacing-small;
    padding-top: 4px;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: $light-blue;
      border-color: $light-blue;
    }

    &.selected {
      color: $light-blue;
      border-color: $light-blue;
    }
  }
}
