@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "settings";
@import "base";
@import "forms";
@import "buttons";
@import "top-nav";
@import "block-list";
@import "dashboard";
@import "board";
@import "projects";
@import "modal";
@import "profile";
@import "dropdown";
@import "spinner";
@import "tooltip";
@import "notifications";

.container {
  @include outer-container(95%);
  min-width: 550px;

  @include media($tablet) {
    @include outer-container(90%);
  }

  @include media($desk) {
    @include outer-container(85%);
  }

  @include media($large-desk) {
    @include outer-container(80%);
  }
}

main.container {
  margin-bottom: 50px;
}

footer {
  min-width: 550px;
  bottom: 0;
  color: $dark-grey;
  height: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.right-padded-icon {
  padding-right: 0.5em;
}

.left-padded-icon {
  padding-left: 0.5em;
}

.skinny-box {
  max-width: 300px;
  margin: 100px auto;
}

.error-box {
  color: $error;
  border: 1px solid $error;
  border-radius: 3px;
  padding: $spacing-small;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}

.space-top-tiny {
  margin-top: $spacing-tiny;
}

.space-bottom-tiny {
  margin-bottom: $spacing-tiny;
}

.space-top-small {
  margin-top: $spacing-tiny;
}

.space-bottom-small {
  margin-bottom: $spacing-small;
}

.space-top {
  margin-top: $spacing-medium;
}

.space-bottom {
  margin-bottom: $spacing-medium;
}

.success {
  color: $green;
}

.error {
  color: $error;
}

.login-header {
  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}

.light {
 color: $dark-grey;
}
