body {
  font-family: $helvetica;
  font-size: $regular-font;
  line-height: 21px;
  color: $darkest-grey;
  background-color: #f2f2f2;
}

h1 {
  font-size: 47px;
  line-height: 63px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-size: 21px;
  line-height: 21px;
}

h4 {
  font-size: 17px;
  line-height: 21px;
}

h5 {
  font-size: 14px;
  line-height: 21px;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $darkest-grey;
}

a:hover {
  text-decoration: underline;
}

input, textarea {
  width: 100%;
  padding: 3px 6px;
  background-color: white;
  line-height: 1.6;
  border: 1px solid $border-grey;
  border-radius: 1px;
  color: inherit;
  box-shadow: none;
  @include transition(border-color ease-in-out .15s);
  resize: none;
}

input {
  height: 30px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: $light-blue;
}
