.board {
  &__nav {
    @include row();
    margin-top: 25px;
    border-bottom: 1px solid $border-grey;

    &__breadcrumb {
      @include span-columns(10);

      li {
        display: inline-block;

        &:before {
          content: ">";
          margin-right: 0.2em;
          margin-left: 0.2em;
        }

        &:first-of-type:before {
          content: none;
        }
      }
    }

    &__dropdown {
      @include span-columns(2);

      margin-top: 1em;
    }
  }

  &__actions {
    @include row();
    margin-top: 25px;

    &__left {
      @include span-columns(6);
    }

    &__right {
      @include span-columns(6);
      text-align: right;

      .button:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__column {
    margin-top: 25px;
    min-height: 500px;
    border-right: 1px dashed $border-grey;

    &--3 {
      @include span-columns(4, $display: block-collapse);
    }

    &--4 {
      @include span-columns(3, $display: block-collapse);
    }

    &:last-of-type {
      border-right: none;
    }


    &__header {
      text-align: center;
    }
  }
}

.stories-list {
  &__item {
    background-color: white;
    margin: 10px;
    padding: 10px;

    &__estimate {
      float: right;
    }

    &__assignee-line {
      text-align: right;
      margin-top: 5px;
      font-size: 25px;
    }
  }
}

.modal-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	z-index: 99999;
}

.modal {
  opacity: 1;
  width: 65%;
	min-width: 633px;
	margin: 100px auto;
	border-radius: 3px;
  background: white;
  border: 1px solid $border-grey;

  &__header {
    border-bottom: 1px solid $border-grey;
    padding: 10px 15px;

    h4 {
      margin: 0;
    }
  }

  &__close {
    display: inline-block;
    float: right;
    transform: translateY(-22px);
    font-size: 24px;
    cursor: pointer;
  }

  &__body {
    padding: 15px;
  }
}

.row {
  @include row()
}

.eight-columns {
  @include span-columns(8);
}

.four-columns {
  @include span-columns(4);
}

.form-group {
  margin-bottom: 15px;
}

.estimate-form {
  margin-top: 20px;
  margin-bottom: 20px;

  &__group {
    margin-top: 10px;
    @include clearfix;
  }

  &__total {
    border-top: 1px solid $border-grey;
    margin-top: 10px;
    @include clearfix;
  }

  &__left {
    line-height: 2.5;
    display: inline;
  }

  &__right {
    display: inline-block;
    float: right;
    width: 40px;
    line-height: 2.0;
  }
}

.assigned-user {
  &__select {
    display: block;
  }
}

.story-right {
  position: relative;
}

.save-story-button {
  margin-left: 0px;
  margin-top: 59px;
  width: 100%;
}
