.top-nav {
  padding-left: 10%;
  padding-right: 10%;
  height: 60px;
  background: $darkest-grey;
  border-bottom: 1px solid $border-grey;

  &__brand {
    transform: translateY(1em);

    img {
      width: 120px;
    }
  }
}
